.PrintButton {
    padding: 1rem 1rem;
    background-color: white;
    border: 1px solid #383131;
    box-shadow: 1px 2px 2px 1px #ececec;
    border-radius: 4px;
}

.App {
    text-align: center;
}

.App .item-todo {
    padding: 8px;
    width: 200px;
    margin: 0 auto;
    text-align: left;
    margin-top: 10px;
    background: rgb(226, 226, 226);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.App .item-todo .item-text {
    display: inline-block;
    cursor: pointer;
}

.App input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    background: transparent;
}

.App button {
    padding: 8px 7px;
    border: none;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    outline: none;
    background: rgb(226, 226, 226);
    color: rgb(0, 0, 0);
    text-transform: capitalize;
}

.App .item-todo .item-delete {
    display: inline-block;
    cursor: pointer;
    float: right;
    font-size: 22px;
    position: relative;
    left: -2px;
    bottom: 3px;
}

.strike {
    text-decoration: line-through;
}